<mat-toolbar class="toolbar">
  <!-- 菜單按鈕 -->
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="text-with-shadow">友善黑貓 Friendly Cat</span>

  <mat-menu #menu="matMenu">
    <!-- 標題 -->
    <div class="menu-header">
      {{user ? "您收藏的店家" : "登入後可收藏店家"}}
    </div>
    <mat-divider></mat-divider>

    <!-- 喜愛店家清單 -->
    <ng-container *ngFor="let store of favoriteStores">
      <button *ngIf="user" mat-menu-item class="custom-menu-item" (click)="onSearchStore(store)">
        <!-- 根據店名判斷顯示圖標 -->
        <img *ngIf="store.storeName.includes('7-11')" [src]="sevenElevenIconUrl" alt="7-11" class="store-icon" />
        <img *ngIf="store.storeName.includes('全家')" [src]="familyMartIconUrl" alt="FamilyMart" class="store-icon" />
        <span class="text-gray-600">{{ store.storeName }}</span>
      </button>
    </ng-container>

    <button mat-menu-item>
      <div class="px-3 py-1 text-white text-center bg-primary-default rounded-full shadow-sm" (click)="loginOrlogout()">
        {{ user ? user.displayName + ' 登出' : ' 登入' }}
      </div>
    </button>
  </mat-menu>
</mat-toolbar>
