<mat-toolbar class="toolbar">
  <!-- 菜單按鈕 -->
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>

  <span>友善黑貓 Friendly Cat</span>
  <span class="example-spacer"></span>

  <mat-menu #menu="matMenu">
    <!-- 標題 -->
    <div class="menu-header">
      您收藏的店家
    </div>
    <mat-divider></mat-divider>

    <!-- 喜愛店家清單 -->
    <ng-container *ngFor="let store of favoriteStores">
      <button mat-menu-item class="custom-menu-item">
        <!-- 根據店名判斷顯示圖標 -->
        <img *ngIf="store.includes('7-11')" [src]="sevenElevenIconUrl" alt="7-11" class="store-icon" />
        <img *ngIf="store.includes('全家')" [src]="familyMartIconUrl" alt="FamilyMart" class="store-icon" />
        {{ store }}
      </button>      
    </ng-container>

    <button mat-menu-item>
      <button class="px-3 py-1 text-white bg-primary-default rounded-full shadow-sm" (click)="loginOrlogout()">
        {{ user ? user.displayName + ' 登出' : ' 登入' }}
      </button>
    </button>
  </mat-menu>
</mat-toolbar>