.toolbar {
    background-color: theme('colors.primary.light');
    color: theme('colors.success');
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.1); /* 添加阴影 */
}

.mat-menu-item button {
    width: 100%;
}

.menu-header {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    color: theme('colors.primary.default');
}

.store-icon {
    width: 20px;
    /* 圖片寬度 */
    height: 20px;
    /* 圖片高度 */
    margin-right: 8px;
    /* 圖片與文字的間距 */
    display: inline-block;
    /* 將圖片設為行內塊元素 */
    vertical-align: middle;
    /* 圖片與文字垂直居中對齊 */
}

.text-with-shadow {
  font-weight: bold; /* 設定粗體 */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* 加入陰影，2px 2px 是陰影偏移，5px 是模糊半徑，rgba 定義顏色 */
}
