<div *ngIf="subCategories.length > 0">
  <h3>{{ category.Name }}</h3>

  <ng-container *ngFor="let subCategory of subCategories">
    <div class="sub-category-item border p-3 mb-4 rounded-lg"
         *ngIf="itemsBySubCategory[subCategory.Name] && itemsBySubCategory[subCategory.Name].length > 0">
      <h4>{{ subCategory.Name }}</h4>
      <p>數量: {{ getSubCategoryQty(subCategory.Name) }}</p>

      <ul>
        <li *ngFor="let item of itemsBySubCategory[subCategory.Name]">
          {{ item.ItemName }} - 剩餘數量: {{ item.RemainingQty }}
        </li>
      </ul>
    </div>
  </ng-container>

  <div *ngIf="totalSubCategoryQty > 0">
    <p>累計數量: {{ totalSubCategoryQty }}</p>
  </div>
</div>
