<div class="chatbot-container" [class.open]="isOpen" *ngIf="true">
    <div class="chatbot-header" (click)="toggleChat()">
        黑貓幫你找💬
        <button class="toggle-btn" (click)="toggleChat($event)">
            {{ isOpen ? '➖' : '➕' }}
        </button>
    </div>

    <div #chatBody *ngIf="isOpen" class="chatbot-body">
        <div *ngFor="let msg of messages" [ngClass]="msg.sender">
            <span *ngIf="msg.sender === 'user'" class="text-gray-700">{{ msg.text }}</span>
            <div *ngIf="msg.sender === 'bot' && !msg.isLoading" class="text-primary-default">
                <span *ngIf="!isStoreMessage(msg.text)">🐈‍⬛：{{ msg.text }}</span>
                <div *ngIf="isStoreMessage(msg.text)"><span [innerHTML]="formatStoreMessage(msg.text)"></span></div>
            </div>
            <span *ngIf="msg.sender === 'bot' && msg.isLoading" class="text-primary-default loading-text">
                🐈‍⬛： {{ msg.text }}
            </span>
        </div>
    </div>    

    <div *ngIf="isOpen" class="chatbot-footer">
        <input type="text" 
            [(ngModel)]="userInput" 
            [disabled]="messages[messages.length - 1].isLoading || false" 
            (keyup.enter)="handleEnter($event)" [placeholder]="messages[messages.length - 1].isLoading || false ? '搜尋中，請稍後...' : '請輸入訊息'"
        >
        <button (click)="sendMessage()">➤</button>
    </div>
</div>