<div class="container mx-auto my-8 p-6 bg-white shadow-lg rounded-lg max-w-4xl">
  <ng-container class="flex flex-col items-center">
    <div class="flex items-center justify-center mb-6 h-24">
      <img src="assets/S__222224406.jpg" alt="Friendly Superhero" class="w-12 h-12 sm:w-16 sm:h-16 md:w-24 md:h-24 rounded-full">
      <h5 class="text-xl sm:text-2xl font-bold ml-4 py-2 px-4 border-2 border-gray-300 rounded-full bg-white inline-block">
        看看附近有啥好吃的吧！
      </h5>
    </div>    
    <!-- 提示訊息區域 -->
    <div class="text-xs sm:text-sm text-red-600 mb-4 text-center">
      <p>* 資訊僅供參考，請以店內商品為準</p>
    </div>

    <form (ngSubmit)="onSubmit()" class="w-full">
      <div class="flex flex-wrap justify-center gap-4 w-full items-center">
        <!-- 輸入框 -->
        <mat-form-field class="w-full sm:w-3/4 lg:w-1/2">
          <mat-icon matSuffix class="text-gray-500">search</mat-icon>
          <input
            matInput
            [matAutocomplete]="auto"
            [(ngModel)]="searchTerm"
            (input)="onInput($event)"
            placeholder="關鍵字搜尋功能施工中⋯⋯⋯敬請期待QQ"
            name="searchTerm"
            class="p-3 border-2 border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let store of unifiedDropDownList"
              [value]="store.label + store.name + '門市'"
              class="p-2 hover:bg-blue-100 focus:bg-blue-200"
            >
              <div *ngIf="store.label === '7-11'" class="flex items-center gap-2">
                <img
                  src="{{ sevenElevenIconUrl }}"
                  alt="7-Eleven Icon"
                  class="w-4 h-4"
                />
                <span>{{ store.name }}門市</span>
                <span class="text-xs sm:text-sm text-gray-500">{{ store.addr }}</span>
              </div>
              <div *ngIf="store.label === '全家'" class="flex items-center gap-2">
                <img
                  src="{{ familyMartIconUrl }}"
                  alt="FamilyMart Icon"
                  class="w-4 h-4"
                />
                <span>{{ store.name }}</span>
                <span class="text-xs sm:text-sm text-gray-500">{{ store.addr }}</span>
              </div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <!-- 第一個按鈕：查詢 -->
        <button
          type="submit"
          mat-raised-button
          color="primary"
          class="ml-4 px-6 py-3 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 flex items-center gap-2 text-xs sm:text-sm md:text-base"
        >
          <mat-icon class="text-sm">search</mat-icon>
          送出關鍵字
        </button>
        <!-- 第二個按鈕：使用目前位置 -->
        <button
          type="button"
          mat-raised-button
          color="warn"
          (click)="onUseCurrentLocation()"
          class="ml-4 px-6 py-3 bg-red-500 text-white rounded-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-blue-500 flex items-center gap-2 text-xs sm:text-sm md:text-base"
        >
          <mat-icon class="text-sm">location_on</mat-icon>
          使用目前位置
        </button>
        <mat-progress-spinner *ngIf="loadingService.loading$ | async" 
                      mode="indeterminate" 
                      diameter="20">
        </mat-progress-spinner>
      </div>
    </form>
  </ng-container>
</div>

<!-- 711與全家店家頁面 -->
<div *ngIf="totalStoresShowList.length > 0">
  <ng-container *ngFor = "let store of totalStoresShowList" >
    <div
      *ngIf="store.RemainingQty > 0"
      class="store p-4 border border-gray-300 rounded-lg shadow-md mb-6"
    >
      <!-- 711區塊 -->
      <ng-container *ngIf="store.label === '7-11' && store.RemainingQty > 0">
        <div class="store-icon flex items-center mb-3">
          <img [src]="sevenElevenIconUrl" alt="Store Icon" class="w-6 h-6 mr-2" />
          <h2 class="text-lg sm:text-xl font-semibold">7-11{{ store.StoreName }}門市</h2>
        </div>
        <div class="store-icon flex flex-col text-lg sm:text-xl">
          <h4 class="lg:text-lg sm:text-xl text-gray-500">
            距離: {{ store.distance | round:1 }} 公尺
            <a 
              href="https://www.google.com/maps/search/7-ELEVEN{{ store.StoreName }}門市" 
              target="_blank" 
              class="ml-2">
              <img src="assets/GoogleMap_icon.png" alt="Google Maps" class="w-6 h-6 inline-block"/>
            </a>
          </h4>
        </div>
        <!-- <div class="inline-block text-xs sm:text-sm font-semibold px-4 py-2 rounded-full" [ngClass]="store.IsOperateTime ? 'bg-green-100 text-green-800' : 'bg-red-100 text-red-800'">
            {{ store.IsOperateTime ? '營業中' : '休息中' }}
        </div> -->
        <div class="food-categories mt-4">
          <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 gap-0">
            <ng-container *ngFor="let category of foodCategories | slice:0:10; let i = index">
              <div
                *ngIf="getSubCategoryTotalQty(store, category) > 0"
                class="category border p-2 sm:p-3 md:p-4 rounded-lg text-center cursor-pointer w-full sm:w-full md:w-full 
                      {{ selectedCategory === category && selectedStore === store ? 'bg-blue-100' : '' }}"
                (click)="toggleSubCategoryDetails(store, category)"
                [class.pointer-events-none]="getSubCategoryTotalQty(store, category) === 0"
              >
                <img
                  [src]="category.ImageUrl"
                  alt="{{ category.Name }}"
                  class="w-12 h-12 sm:w-14 sm:h-14 md:w-16 md:h-16 lg:w-20 lg:h-20 mx-auto mb-2 object-cover"
                  [ngStyle]="{'opacity': getSubCategoryTotalQty(store, category) === 0 ? 0.3 : 1}"
                />
                <div>
                  <span class="block text-sm sm:text-base font-semibold">{{ category.Name }}</span>
                  <div class="inline-block text-xs bg-orange-200 text-orange-900 sm:text-sm font-semibold px-4 py-2 rounded-full">
                    {{ getSubCategoryTotalQty(store, category) }}
                  </div>
                </div>
              </div>
            </ng-container>
          </div>        
          <div *ngIf="selectedCategory && selectedStore === store" class="sub-category-details mt-4">
            <app-display [store]="selectedStore" [category]="selectedCategory"></app-display>
          </div>
        </div>
      </ng-container>
    </div>
  
    <!-- 全家區塊 -->
    <div
    class="store p-4 border border-gray-300 rounded-lg shadow-md mb-6"
    *ngIf="store.label === '全家'"
    >
      <ng-container>
        <div class="store-icon flex items-center mb-3">
          <img [src]="familyMartIconUrl" alt="Store Icon" class="w-6 h-6 mr-2" />
          <h2 class="text-lg sm:text-xl font-semibold">{{ store.name }}</h2>
        </div>
        <div class="store-icon flex flex-col text-lg sm:text-xl">
          <h4 class="lg:text-lg sm:text-xl text-gray-500">
            距離: {{ store.distance | round:1 }} 公尺
            <a 
              href="https://www.google.com/maps/search/全家便利商店{{ store.name }}店" 
              target="_blank" 
              class="ml-2">
              <img src="assets/GoogleMap_icon.png" alt="Google Maps" class="w-6 h-6 inline-block"/>
            </a>
          </h4>
        </div>
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 gap-0">
            <div
              *ngFor="let category of store.info | slice:0:10; let i = index"
              class="category border p-2 sm:p-3 md:p-4 rounded-lg text-center cursor-pointer w-full sm:w-full md:w-full 
              {{ selectedCategory === category && selectedStore === store ? 'bg-blue-100' : '' }}"
              (click)="toggleSubCategoryDetails(store, category)"
              [class.pointer-events-none]="getFSubCategoryQty(store, category) === 0"
            >
              <img
                [src]="getFUrl(category)"
                alt="{{ getFCatName(category) }}"
                class="w-12 h-12 sm:w-14 sm:h-14 md:w-16 md:h-16 lg:w-20 lg:h-20 mx-auto mb-2 object-cover"
                [ngStyle]="{'opacity': getFSubCategoryQty(store, category) === 0 ? 0.3 : 1}"
              />
              <div > 
                  <span class="block text-sm sm:text-base font-semibold">{{ getFCatName(category) }}</span>
                <div class="inline-block text-xs bg-orange-200 text-orange-900 sm:text-sm font-semibold px-4 py-2 rounded-full">
                  {{ getFSubCategoryQty(store, category) }}
                </div>
              </div>
            </div>
        </div>
          <div *ngIf="selectedCategory && selectedStore === store" class="sub-category-details mt-4 border-gray-700">
            <app-display [store]="selectedStore" [category]="selectedCategory" class="border-gray-700"></app-display>
          </div>
      </ng-container>
    </div>
  </ng-container>
</div>
